## 1. 아트모스에서 반스의 가격표를 가져와보자

In [1]:
import pandas as pd

from bs4 import BeautifulSoup # 태그 이쁘게 뜨기
import requests # 웹페이지 접속 요청
targetUrl = "http://atmos-seoul.com/shop/shopbrand.html?xcode=003&type=N&mcode=003&scode=022"

resp = requests.get(url=targetUrl) ## response 200 = 정상

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:71.0) Gecko/20100101 Firefox/71.0'}
resp=requests.get(targetUrl,headers=headers) ## response 204 떳을때 요거 달아주구 resp로 넣어주면 오류 안뜬다. 해당 홈페이지에서 막아논거임 크롤링 못하게

resp.encoding = "utf-8" ## 인코딩
html = resp.text
htmlObj = BeautifulSoup(html, "html.parser") ## beautifulSoup 사용

##targetParent = htmlObj.find(name="ul")

AllProduct = htmlObj.find(name = "div", attrs = {"class":"item-wrap prd-parts"})

In [356]:
resp

## 개별 상품의 이름과 가격을 가져오자.

In [252]:
AllProduct

<div class="item-wrap prd-parts">
<div class="item-cont">
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2115001&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bW93UQ%3D%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003005269.jpg?1618213753"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2115001&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bW93UQ%3D%3D">COMFYCUSH SLIP-ON SM(PENN) YELLOW/ORANGE</a></li>
<li class="prd-price">
<span class="price">89,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2115000&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=aW93UA%3D%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003005268.jpg?1618213492"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2115000&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=aW93UA%3D%3D">LOWLAND CC(PENN) BLANC DE BLANC/NAVY</a></li>
<li class="prd-price">
<span class="price">119,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2115004&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bmx%2FW14%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003005272.jpg?1618214153"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2115004&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bmx%2FW14%3D">AUTHENTIC 44 DX(ANAHEIM FACTORY) OG WHITE/SCENE AT</a></li>
<li class="prd-price">
<span class="price">89,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2115003&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=amp3Ug%3D%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003005271.jpg?1618214044"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2115003&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=amp3Ug%3D%3D">AUTHENTIC 44 DX(ANAHEIM FACTORY) OG YELLOW/SCENE AW</a></li>
<li class="prd-price">
<span class="price">89,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
</div><div class="item-cont">
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2115002&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=am53VQ%3D%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003005270.jpg?1618213962"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2115002&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=am53VQ%3D%3D">AUTHENTIC 44 DX(ANAHEIM FACTORY) OG EMERALD/SCENE BG</a></li>
<li class="prd-price">
<span class="price">89,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2114678&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bWV4"><img class="MS_prod_img_l" src="/shopimages/atmos/001003005060.jpg?1614235796"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2114678&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bWV4">ERA 95 DX (ANAHEIM FACTORY) OG BLACK/OG HOTLIPS</a></li>
<li class="prd-price">
<span class="price">89,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2114677&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=Z2x3Vw%3D%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003005059.jpg?1614235684"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2114677&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=Z2x3Vw%3D%3D">OLD SKOOL 36 DX (ANAHEIM FACTORY) OG RED/OG HOTLIPS</a></li>
<li class="prd-price">
<span class="price">99,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2114676&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bml6W1s%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003005058.jpg?1614235589"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2114676&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bml6W1s%3D">SK8-HI 38 DX (ANAHEIM FACTORY) OG BLACK/OG HOTLIPS</a></li>
<li class="prd-price">
<span class="price">105,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
</div><div class="item-cont">
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2112116&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=Zm53WQ%3D%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003004116.jpg?1606896407"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2112116&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=Zm53WQ%3D%3D">CLASSIC SLIP-ON 98 DX ANAHEIM FACTORY CHECKERBOARD</a></li>
<li class="prd-price">
<span class="price">85,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2108789&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=a2Z3WA%3D%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003005248.jpg?1542697953"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2108789&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=a2Z3WA%3D%3D">AUTHENTIC 44 DX (ANAHEIM FACTORY)</a></li>
<li class="prd-price">
<span class="price">79,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2114504&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bmp%2BW11E"><img class="MS_prod_img_l" src="/shopimages/atmos/001003004826.jpg?1610694221"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2114504&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bmp%2BW11E">STYLE 73 DX ANAHEIM FACTORY OG</a></li>
<li class="prd-price">
<span class="price">95,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2114503&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bmx9W11F"><img class="MS_prod_img_l" src="/shopimages/atmos/001003004825.jpg?1610694077"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2114503&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bmx9W11F">STYLE 73 DX ANAHEIM FACTORY OG</a></li>
<li class="prd-price">
<span class="price">95,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
</div><div class="item-cont">
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2114505&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=aWl3UF4%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003004827.jpg?1610694343"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2114505&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=aWl3UF4%3D">ERA 95 DX ANAHEIM FACTORY OG</a></li>
<li class="prd-price">
<span class="price">85,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2114501&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bmp%2BW11H"><img class="MS_prod_img_l" src="/shopimages/atmos/001003004823.jpg?1610693874"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2114501&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bmp%2BW11H">OLD SKOOL 36 DX AHAHEIM FACTORY</a></li>
<li class="prd-price">
<span class="price">95,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2112127&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bm9%2FW11A"><img class="MS_prod_img_l" src="/shopimages/atmos/001003003800.jpg?1606896344"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2112127&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bm9%2FW11A">AUTHENTIC 44 DX</a></li>
<li class="prd-price">
<span class="price">85,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
<dl class="item-list">
<dt class="thumb"><a href="/shop/shopdetail.html?branduid=2113988&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bWh3UFk%3D"><img class="MS_prod_img_l" src="/shopimages/atmos/001003004299.jpg?1606896544"/></a></dt>
<dd class="prd-info">
<ul>
<li class="list-brand-name">VANS</li>
<li class="prd-name"><a href="/shop/shopdetail.html?branduid=2113988&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;type=Y&amp;sort=manual&amp;cur_code=003003022&amp;GfDT=bWh3UFk%3D">OLD SKOOL 36 DX</a></li>
<li class="prd-price">
<span class="price">95,000��</span>
<span class="prd-icon"><span class="MK-product-icons"></span></span>
</li>
</ul>
</dd>
</dl>
</div><div class="item-cont">
</div>
<div class="paging">
<a class="now" href="/shop/shopbrand.html?type=Y&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;sort=&amp;page=1">1</a>
<a href="/shop/shopbrand.html?type=Y&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;sort=&amp;page=2">2</a>
<a class="last" href="/shop/shopbrand.html?type=Y&amp;xcode=003&amp;mcode=003&amp;scode=022&amp;sort=&amp;page=2">&gt;&gt;</a>
</div>
</div>

## 다 했다. 이제 rowList와 columnList를 만들자

In [253]:
rowList = []
columnList = []

In [254]:
allName = AllProduct.findAll(name = "li", attrs = {"class":"prd-name"})

In [255]:
for i in range(0,len(allName)):

    refinedEachName = allName[i].text

    #refinedEachName

    brandName = AllProduct.findAll(name = "li", attrs =  {"class":"list-brand-name"})

    refinedBrandName = brandName[i].text

    #refinedBrandName

    allPrice = AllProduct.findAll(name = "span", attrs = {"class":"price"})

    refinedEachPrice = allPrice[i].text

    refinedEachPriceNum = refinedEachPrice.replace("�","")

    #refinedEachPriceNum

    ## 이제 columnList 안에 ppend 해주고 row에 넣어주자

    columnList.append(refinedBrandName)
    columnList.append(refinedEachName)
    columnList.append(refinedEachPriceNum)

    rowList.append(columnList)
    columnList = []

df1 = pd.DataFrame(rowList)

columnTitle = ["브랜드","이름","가격"]

df1.columns = columnTitle

df1

     브랜드                                                 이름       가격
0   VANS           COMFYCUSH SLIP-ON SM(PENN) YELLOW/ORANGE   89,000
1   VANS               LOWLAND CC(PENN) BLANC DE BLANC/NAVY  119,000
2   VANS  AUTHENTIC 44 DX(ANAHEIM FACTORY) OG WHITE/SCEN...   89,000
3   VANS  AUTHENTIC 44 DX(ANAHEIM FACTORY) OG YELLOW/SCE...   89,000
4   VANS  AUTHENTIC 44 DX(ANAHEIM FACTORY) OG EMERALD/SC...   89,000
5   VANS    ERA 95 DX (ANAHEIM FACTORY) OG BLACK/OG HOTLIPS   89,000
6   VANS  OLD SKOOL 36 DX (ANAHEIM FACTORY) OG RED/OG HO...   99,000
7   VANS  SK8-HI 38 DX (ANAHEIM FACTORY) OG BLACK/OG HOT...  105,000
8   VANS  CLASSIC SLIP-ON 98 DX ANAHEIM FACTORY CHECKERB...   85,000
9   VANS                  AUTHENTIC 44 DX (ANAHEIM FACTORY)   79,000
10  VANS                     STYLE 73 DX ANAHEIM FACTORY OG   95,000
11  VANS                     STYLE 73 DX ANAHEIM FACTORY OG   95,000
12  VANS                       ERA 95 DX ANAHEIM FACTORY OG   85,000
13  VANS                    OLD SKOOL 36 DX AHAHEIM FACTORY   95,000
14  VANS                                    AUTHENTIC 44 DX   85,000
15  VANS                                    OLD SKOOL 36 DX   95,000

In [ ]:
targetParent = htmlObj.find(name="div",attrs = {"id":"id_spark_quiz"})

## 2. 테이블 데이터 수집하기. 한국의 연휴 정보

In [357]:
import pandas as pd

from bs4 import BeautifulSoup # 태그 이쁘게 뜨기
import requests # 웹페이지 접속 요청
targetUrl = "https://www.timeanddate.com/holidays/south-korea/"

resp = requests.get(url=targetUrl) ## response 200 = 정상인지 아닌지 먼저 확인해보자. 이 사이트의 경우 정상!


resp.encoding = "utf-8" ## 인코딩
html = resp.text
htmlObj = BeautifulSoup(html, "html.parser") ## beautifulSoup 사용

##targetParent = htmlObj.find(name="ul")

Alltable = htmlObj.find(name = "table", attrs = {"id":"holidays-table"})

### 전체 테이블 추출 완료. 세부적으로 들어가자. 1. 일/월, 2. 요일, 3. 연휴이름, 4. 연휴타입

Alltable

#### 일/월 먼저 찾자

AllmonthDate = Alltable.findAll(name="th",attrs = {"class":"nw"})

eachMonthDate = AllmonthDate[0].text

eachMonthDate ## 완료

'1월 1일'

In [358]:
#### 요일 찾자

Alldays = Alltable.findAll(name="td",attrs = {"class":"nw"})

eachDayName = Alldays[0].text

eachDayName

'금요일'

In [359]:
#### 연휴이름찾자

Allatags = Alltable.findAll(name="a")

Allatags

eachHolidayName = Allatags[0].text

eachHolidayName

"New Year's Day"

In [360]:
#### 연휴 타입찾자



Alltd = Alltable.findAll(name="td")

Alltd

##### 2, 5, 8, 11, 14, 17 순서로 데이터 등장. 따로 규칙을 써야겠다.

eachHolidayType = Alltd[2].text

eachHolidayType

'Public Holiday'

In [361]:
#### 데이터를 종합하자

rowList = []
columnList = []

for i in range(0, len(AllmonthDate)):
    eachMonthDate = AllmonthDate[i].text
    eachDayName = Alldays[i].text
    eachHolidayName = Allatags[i].text
    eachHolidayType = Alltd[2+(i*3)].text
    
    columnList.append(eachMonthDate)
    columnList.append(eachDayName)
    columnList.append(eachHolidayName)
    columnList.append(eachHolidayType)
    rowList.append(columnList)
    columnList = []

resultData = pd.DataFrame(rowList)

columnNameList = ["월/일", "요일", "연휴이름", "연휴타입"]

resultData.columns = columnNameList

resultData

        월/일   요일                       연휴이름              연휴타입
0     1월 1일  금요일             New Year's Day    Public Holiday
1    2월 11일  목요일            Seollal Holiday    Public Holiday
2    2월 12일  금요일                    Seollal    Public Holiday
3    2월 13일  토요일            Seollal Holiday    Public Holiday
4    2월 14일  일요일            Valentine's Day        Observance
5     3월 1일  월요일  Independence Movement Day  National holiday
6    3월 20일  토요일              March Equinox            Season
7     4월 5일  월요일                  Arbor Day        Observance
8     5월 1일  토요일                  Labor Day      Bank Holiday
9     5월 5일  수요일             Children's Day    Public Holiday
10    5월 8일  토요일               Parents' Day        Observance
11   5월 15일  토요일              Teacher's Day        Observance
12   5월 19일  수요일          Buddha's Birthday    Public Holiday
13    6월 6일  일요일               Memorial Day    Public Holiday
14   6월 21일  월요일              June Solstice            Season
15   7월 17일  토요일           Constitution Day        Observance
16   8월 15일  일요일             Liberation Day  National holiday
17   9월 20일  월요일            Chuseok Holiday    Public Holiday
18   9월 21일  화요일                    Chuseok    Public Holiday
19   9월 22일  수요일            Chuseok Holiday    Public Holiday
20   9월 23일  목요일          September Equinox            Season
21   10월 1일  금요일           Armed Forces Day        Observance
22   10월 3일  일요일    National Foundation Day  National holiday
23   10월 9일  토요일   Hangeul Proclamation Day  National holiday
24  10월 31일  일요일                  Halloween        Observance
25  12월 22일  수요일          December Solstice            Season
26  12월 24일  금요일              Christmas Eve        Observance
27  12월 25일  토요일              Christmas Day    Public Holiday
28  12월 31일  금요일             New Year's Eve        Observance

### 3. 테이블 데이터 수집하기. 한국의 연휴 정보 - td/ tr 사용해서 해보자

In [1]:
import pandas as pd

from bs4 import BeautifulSoup # 태그 이쁘게 뜨기
import requests # 웹페이지 접속 요청
targetUrl = "https://www.timeanddate.com/holidays/south-korea/"

resp = requests.get(url=targetUrl) ## response 200 = 정상인지 아닌지 먼저 확인해보자. 이 사이트의 경우 정상!



resp.encoding = "utf-8" ## 인코딩
html = resp.text
htmlObj = BeautifulSoup(html, "html.parser") ## beautifulSoup 사용

##targetParent = htmlObj.find(name="ul")

TargetTable = htmlObj.find(name = "table", attrs = {"id":"holidays-table"})

### 전체 테이블 추출 완료. 세부적으로 들어가자. 1. tr추출, 2. td추출, 3. 종합하기

In [9]:
Alltrs = TargetTable.findAll("tr")

In [10]:
Alltrs

[<tr><th rowspan="2">Date</th><th rowspan="2"> </th><th rowspan="2">Name</th><th rowspan="2">Type</th></tr>,
 <tr></tr>,
 <tr id="hol_jan"></tr>,
 <tr data-date="1609459200000" data-mask="1" id="tr1"><th class="nw">1월 1일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/new-year-day">New Year's Day</a></td><td>Public Holiday</td></tr>,
 <tr id="hol_feb"></tr>,
 <tr data-date="1613001600000" data-mask="1" id="tr3"><th class="nw">2월 11일</th><td class="nw">목요일</td><td><a href="/holidays/south-korea/seollal-holiday-1">Seollal Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1613088000000" data-mask="1" id="tr4"><th class="nw">2월 12일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/seollal-holiday-2">Seollal</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1613174400000" data-mask="1" id="tr5"><th class="nw">2월 13일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/seollal-holiday-3">Seollal Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1613260800000" data-mask="32" id="tr6"><th class="nw">2월 14일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/valentines-day">Valentine's Day</a></td><td>Observance</td></tr>,
 <tr id="hol_mar"></tr>,
 <tr data-date="1614556800000" data-mask="1" id="tr8"><th class="nw">3월 1일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/independence-movement-day">Independence Movement Day</a></td><td>National holiday</td></tr>,
 <tr data-date="1616265451000" data-mask="256" id="tr9"><th class="nw">3월 20일</th><td class="nw">토요일</td><td><a href="/calendar/march-equinox.html">March Equinox</a></td><td>Season</td></tr>,
 <tr id="hol_apr"></tr>,
 <tr data-date="1617580800000" data-mask="16" id="tr11"><th class="nw">4월 5일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/arbor-day">Arbor Day</a></td><td>Observance</td></tr>,
 <tr id="hol_may"></tr>,
 <tr data-date="1619827200000" data-mask="4194304" id="tr13"><th class="nw">5월 1일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/labor-day">Labor Day</a></td><td>Bank Holiday</td></tr>,
 <tr data-date="1620172800000" data-mask="1" id="tr14"><th class="nw">5월 5일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/childrens-day">Children's Day</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1620432000000" data-mask="16" id="tr15"><th class="nw">5월 8일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/parents-day">Parents' Day</a></td><td>Observance</td></tr>,
 <tr data-date="1621036800000" data-mask="16" id="tr16"><th class="nw">5월 15일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/teachers-day">Teacher's Day</a></td><td>Observance</td></tr>,
 <tr data-date="1621382400000" data-mask="1" id="tr17"><th class="nw">5월 19일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/buddha-birthday">Buddha's Birthday</a></td><td>Public Holiday</td></tr>,
 <tr id="hol_jun"></tr>,
 <tr data-date="1622937600000" data-mask="1" id="tr19"><th class="nw">6월 6일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/memorial-day">Memorial Day</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1624278729000" data-mask="256" id="tr20"><th class="nw">6월 21일</th><td class="nw">월요일</td><td><a href="/calendar/june-solstice.html">June Solstice</a></td><td>Season</td></tr>,
 <tr id="hol_jul"></tr>,
 <tr data-date="1626480000000" data-mask="16" id="tr22"><th class="nw">7월 17일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/constitution-day">Constitution Day</a></td><td>Observance</td></tr>,
 <tr id="hol_aug"></tr>,
 <tr data-date="1628985600000" data-mask="1" id="tr24"><th class="nw">8월 15일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/liberation-day">Liberation Day</a></td><td>National holiday</td></tr>,
 <tr id="hol_sep"></tr>,
 <tr data-date="1632096000000" data-mask="1" id="tr26"><th class="nw">9월 20일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-1">Chuseok Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1632182400000" data-mask="1" id="tr27"><th class="nw">9월 21일</th><td class="nw">화요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-2">Chuseok</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1632268800000" data-mask="1" id="tr28"><th class="nw">9월 22일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-3">Chuseok Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1632370871000" data-mask="256" id="tr29"><th class="nw">9월 23일</th><td class="nw">목요일</td><td><a href="/calendar/september-equinox.html">September Equinox</a></td><td>Season</td></tr>,
 <tr id="hol_oct"></tr>,
 <tr data-date="1633046400000" data-mask="16" id="tr31"><th class="nw">10월 1일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/armed-forces-day">Armed Forces Day</a></td><td>Observance</td></tr>,
 <tr data-date="1633219200000" data-mask="1" id="tr32"><th class="nw">10월 3일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/national-foundation-day">National Foundation Day</a></td><td>National holiday</td></tr>,
 <tr data-date="1633737600000" data-mask="1" id="tr33"><th class="nw">10월 9일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/hangeul-day">Hangeul Proclamation Day</a></td><td>National holiday</td></tr>,
 <tr data-date="1635638400000" data-mask="32" id="tr34"><th class="nw">10월 31일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/halloween">Halloween</a></td><td>Observance</td></tr>,
 <tr id="hol_nov"></tr>,
 <tr id="hol_dec"></tr>,
 <tr data-date="1640134758000" data-mask="256" id="tr37"><th class="nw">12월 22일</th><td class="nw">수요일</td><td><a href="/calendar/december-solstice.html">December Solstice</a></td><td>Season</td></tr>,
 <tr data-date="1640304000000" data-mask="16" id="tr38"><th class="nw">12월 24일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/christmas-eve">Christmas Eve</a></td><td>Observance</td></tr>,
 <tr data-date="1640390400000" data-mask="1" id="tr39"><th class="nw">12월 25일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/christmas-day">Christmas Day</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1640908800000" data-mask="16" id="tr40"><th class="nw">12월 31일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/new-year-eve">New Year's Eve</a></td><td>Observance</td></tr>]

In [7]:
len(Alltds)

NameError: name 'Alltds' is not defined

In [ ]:
Alltrs = tbodyTable.findAll("tr")

In [489]:
Alltrs[0]

In [458]:
Allrows = Alltrs.findAll()

AttributeError: ResultSet object has no attribute 'findAll'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [506]:
columnList = tbodyTable.FindAll(name = "tr", attrs = {"class":"showrow"})

TypeError: 'NoneType' object is not callable

In [496]:
tr_tag

[]

In [ ]:
DataTable = []

for i in range(1, 41):
    numberStr = str(i)
    name = 'tr'+numberStr
    AllmonthDate = TargetTable.find(name="tr", attrs = {"id":name})
    if AllmonthDate != None:
        DataTable.append(AllmonthDate)

In [686]:
DataTable

[<tr data-date="1609459200000" data-mask="1" id="tr1"><th class="nw">1월 1일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/new-year-day">New Year's Day</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1613001600000" data-mask="1" id="tr3"><th class="nw">2월 11일</th><td class="nw">목요일</td><td><a href="/holidays/south-korea/seollal-holiday-1">Seollal Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1613088000000" data-mask="1" id="tr4"><th class="nw">2월 12일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/seollal-holiday-2">Seollal</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1613174400000" data-mask="1" id="tr5"><th class="nw">2월 13일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/seollal-holiday-3">Seollal Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1613260800000" data-mask="32" id="tr6"><th class="nw">2월 14일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/valentines-day">Valentine's Day</a></td><td>Observance</td></tr>,
 <tr data-date="1614556800000" data-mask="1" id="tr8"><th class="nw">3월 1일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/independence-movement-day">Independence Movement Day</a></td><td>National holiday</td></tr>,
 <tr data-date="1616265451000" data-mask="256" id="tr9"><th class="nw">3월 20일</th><td class="nw">토요일</td><td><a href="/calendar/march-equinox.html">March Equinox</a></td><td>Season</td></tr>,
 <tr data-date="1617580800000" data-mask="16" id="tr11"><th class="nw">4월 5일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/arbor-day">Arbor Day</a></td><td>Observance</td></tr>,
 <tr data-date="1619827200000" data-mask="4194304" id="tr13"><th class="nw">5월 1일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/labor-day">Labor Day</a></td><td>Bank Holiday</td></tr>,
 <tr data-date="1620172800000" data-mask="1" id="tr14"><th class="nw">5월 5일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/childrens-day">Children's Day</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1620432000000" data-mask="16" id="tr15"><th class="nw">5월 8일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/parents-day">Parents' Day</a></td><td>Observance</td></tr>,
 <tr data-date="1621036800000" data-mask="16" id="tr16"><th class="nw">5월 15일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/teachers-day">Teacher's Day</a></td><td>Observance</td></tr>,
 <tr data-date="1621382400000" data-mask="1" id="tr17"><th class="nw">5월 19일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/buddha-birthday">Buddha's Birthday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1622937600000" data-mask="1" id="tr19"><th class="nw">6월 6일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/memorial-day">Memorial Day</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1624278729000" data-mask="256" id="tr20"><th class="nw">6월 21일</th><td class="nw">월요일</td><td><a href="/calendar/june-solstice.html">June Solstice</a></td><td>Season</td></tr>,
 <tr data-date="1626480000000" data-mask="16" id="tr22"><th class="nw">7월 17일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/constitution-day">Constitution Day</a></td><td>Observance</td></tr>,
 <tr data-date="1628985600000" data-mask="1" id="tr24"><th class="nw">8월 15일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/liberation-day">Liberation Day</a></td><td>National holiday</td></tr>,
 <tr data-date="1632096000000" data-mask="1" id="tr26"><th class="nw">9월 20일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-1">Chuseok Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1632182400000" data-mask="1" id="tr27"><th class="nw">9월 21일</th><td class="nw">화요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-2">Chuseok</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1632268800000" data-mask="1" id="tr28"><th class="nw">9월 22일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-3">Chuseok Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1632370871000" data-mask="256" id="tr29"><th class="nw">9월 23일</th><td class="nw">목요일</td><td><a href="/calendar/september-equinox.html">September Equinox</a></td><td>Season</td></tr>,
 <tr data-date="1633046400000" data-mask="16" id="tr31"><th class="nw">10월 1일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/armed-forces-day">Armed Forces Day</a></td><td>Observance</td></tr>,
 <tr data-date="1633219200000" data-mask="1" id="tr32"><th class="nw">10월 3일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/national-foundation-day">National Foundation Day</a></td><td>National holiday</td></tr>,
 <tr data-date="1633737600000" data-mask="1" id="tr33"><th class="nw">10월 9일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/hangeul-day">Hangeul Proclamation Day</a></td><td>National holiday</td></tr>,
 <tr data-date="1635638400000" data-mask="32" id="tr34"><th class="nw">10월 31일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/halloween">Halloween</a></td><td>Observance</td></tr>,
 <tr data-date="1640134758000" data-mask="256" id="tr37"><th class="nw">12월 22일</th><td class="nw">수요일</td><td><a href="/calendar/december-solstice.html">December Solstice</a></td><td>Season</td></tr>,
 <tr data-date="1640304000000" data-mask="16" id="tr38"><th class="nw">12월 24일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/christmas-eve">Christmas Eve</a></td><td>Observance</td></tr>,
 <tr data-date="1640390400000" data-mask="1" id="tr39"><th class="nw">12월 25일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/christmas-day">Christmas Day</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1640908800000" data-mask="16" id="tr40"><th class="nw">12월 31일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/new-year-eve">New Year's Eve</a></td><td>Observance</td></tr>]

In [647]:
eachData = DataTable[0]

In [648]:
eachMAD = eachData.find(name = "th", attrs = {"class":"nw"})

In [649]:
MonthAndDate = eachMAD.text

In [650]:
MonthAndDate

'1월 1일'

In [651]:
eacHdayName = eachData.find("a")

In [652]:
Holiday = eacHdayName.text

In [653]:
Holiday

"New Year's Day"

In [655]:
Day = tds[0].text

In [656]:
Day

'금요일'

In [657]:
Name = tds[1].text

In [658]:
Type = tds[2].text

In [12]:
columnList = []
rowList = []

NameError: name 'DataTable' is not defined

In [4]:
Alltrs

[<tr><th rowspan="2">Date</th><th rowspan="2"> </th><th rowspan="2">Name</th><th rowspan="2">Type</th></tr>,
 <tr></tr>,
 <tr id="hol_jan"></tr>,
 <tr data-date="1609459200000" data-mask="1" id="tr1"><th class="nw">1월 1일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/new-year-day">New Year's Day</a></td><td>Public Holiday</td></tr>,
 <tr id="hol_feb"></tr>,
 <tr data-date="1613001600000" data-mask="1" id="tr3"><th class="nw">2월 11일</th><td class="nw">목요일</td><td><a href="/holidays/south-korea/seollal-holiday-1">Seollal Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1613088000000" data-mask="1" id="tr4"><th class="nw">2월 12일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/seollal-holiday-2">Seollal</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1613174400000" data-mask="1" id="tr5"><th class="nw">2월 13일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/seollal-holiday-3">Seollal Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1613260800000" data-mask="32" id="tr6"><th class="nw">2월 14일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/valentines-day">Valentine's Day</a></td><td>Observance</td></tr>,
 <tr id="hol_mar"></tr>,
 <tr data-date="1614556800000" data-mask="1" id="tr8"><th class="nw">3월 1일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/independence-movement-day">Independence Movement Day</a></td><td>National holiday</td></tr>,
 <tr data-date="1616265451000" data-mask="256" id="tr9"><th class="nw">3월 20일</th><td class="nw">토요일</td><td><a href="/calendar/march-equinox.html">March Equinox</a></td><td>Season</td></tr>,
 <tr id="hol_apr"></tr>,
 <tr data-date="1617580800000" data-mask="16" id="tr11"><th class="nw">4월 5일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/arbor-day">Arbor Day</a></td><td>Observance</td></tr>,
 <tr id="hol_may"></tr>,
 <tr data-date="1619827200000" data-mask="4194304" id="tr13"><th class="nw">5월 1일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/labor-day">Labor Day</a></td><td>Bank Holiday</td></tr>,
 <tr data-date="1620172800000" data-mask="1" id="tr14"><th class="nw">5월 5일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/childrens-day">Children's Day</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1620432000000" data-mask="16" id="tr15"><th class="nw">5월 8일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/parents-day">Parents' Day</a></td><td>Observance</td></tr>,
 <tr data-date="1621036800000" data-mask="16" id="tr16"><th class="nw">5월 15일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/teachers-day">Teacher's Day</a></td><td>Observance</td></tr>,
 <tr data-date="1621382400000" data-mask="1" id="tr17"><th class="nw">5월 19일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/buddha-birthday">Buddha's Birthday</a></td><td>Public Holiday</td></tr>,
 <tr id="hol_jun"></tr>,
 <tr data-date="1622937600000" data-mask="1" id="tr19"><th class="nw">6월 6일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/memorial-day">Memorial Day</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1624278729000" data-mask="256" id="tr20"><th class="nw">6월 21일</th><td class="nw">월요일</td><td><a href="/calendar/june-solstice.html">June Solstice</a></td><td>Season</td></tr>,
 <tr id="hol_jul"></tr>,
 <tr data-date="1626480000000" data-mask="16" id="tr22"><th class="nw">7월 17일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/constitution-day">Constitution Day</a></td><td>Observance</td></tr>,
 <tr id="hol_aug"></tr>,
 <tr data-date="1628985600000" data-mask="1" id="tr24"><th class="nw">8월 15일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/liberation-day">Liberation Day</a></td><td>National holiday</td></tr>,
 <tr id="hol_sep"></tr>,
 <tr data-date="1632096000000" data-mask="1" id="tr26"><th class="nw">9월 20일</th><td class="nw">월요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-1">Chuseok Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1632182400000" data-mask="1" id="tr27"><th class="nw">9월 21일</th><td class="nw">화요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-2">Chuseok</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1632268800000" data-mask="1" id="tr28"><th class="nw">9월 22일</th><td class="nw">수요일</td><td><a href="/holidays/south-korea/mid-autumn-festival-day-3">Chuseok Holiday</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1632370871000" data-mask="256" id="tr29"><th class="nw">9월 23일</th><td class="nw">목요일</td><td><a href="/calendar/september-equinox.html">September Equinox</a></td><td>Season</td></tr>,
 <tr id="hol_oct"></tr>,
 <tr data-date="1633046400000" data-mask="16" id="tr31"><th class="nw">10월 1일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/armed-forces-day">Armed Forces Day</a></td><td>Observance</td></tr>,
 <tr data-date="1633219200000" data-mask="1" id="tr32"><th class="nw">10월 3일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/national-foundation-day">National Foundation Day</a></td><td>National holiday</td></tr>,
 <tr data-date="1633737600000" data-mask="1" id="tr33"><th class="nw">10월 9일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/hangeul-day">Hangeul Proclamation Day</a></td><td>National holiday</td></tr>,
 <tr data-date="1635638400000" data-mask="32" id="tr34"><th class="nw">10월 31일</th><td class="nw">일요일</td><td><a href="/holidays/south-korea/halloween">Halloween</a></td><td>Observance</td></tr>,
 <tr id="hol_nov"></tr>,
 <tr id="hol_dec"></tr>,
 <tr data-date="1640134758000" data-mask="256" id="tr37"><th class="nw">12월 22일</th><td class="nw">수요일</td><td><a href="/calendar/december-solstice.html">December Solstice</a></td><td>Season</td></tr>,
 <tr data-date="1640304000000" data-mask="16" id="tr38"><th class="nw">12월 24일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/christmas-eve">Christmas Eve</a></td><td>Observance</td></tr>,
 <tr data-date="1640390400000" data-mask="1" id="tr39"><th class="nw">12월 25일</th><td class="nw">토요일</td><td><a href="/holidays/south-korea/christmas-day">Christmas Day</a></td><td>Public Holiday</td></tr>,
 <tr data-date="1640908800000" data-mask="16" id="tr40"><th class="nw">12월 31일</th><td class="nw">금요일</td><td><a href="/holidays/south-korea/new-year-eve">New Year's Eve</a></td><td>Observance</td></tr>]

In [3]:
len(Alltrs)

43

In [12]:
DataTable = [] ## 추출에 필요한 데이터 넣는 DataTable

In [7]:
'tr' + '1'

'tr1'

In [1]:
import pandas as pd

from bs4 import BeautifulSoup # 태그 이쁘게 뜨기
import requests # 웹페이지 접속 요청
targetUrl = "https://www.timeanddate.com/holidays/south-korea/"

resp = requests.get(url=targetUrl) ## response 200 = 정상인지 아닌지 먼저 확인해보자. 이 사이트의 경우 정상!

resp.encoding = "utf-8" ## 인코딩
html = resp.text
htmlObj = BeautifulSoup(html, "html.parser") ## beautifulSoup 사용
##targetParent = htmlObj.find(name="ul")
TargetTable = htmlObj.find(name = "table", attrs = {"id":"holidays-table"})

Alltrs = TargetTable.findAll('tr') ## 전체 tr 데이터 추출.


## 필요한 데이터만 먼저 DataTable에 넣기. None타입을 제외하고 따로 DataTable 변수에 담는다.
for i in range(0, len(Alltrs)):
    numberStr = str(i)
    name = 'tr'+numberStr
    AllmonthDate = TargetTable.find(name="tr", attrs = {"id":name})
    if AllmonthDate != None:
        DataTable.append(AllmonthDate)
    
### 전체 테이블 추출 완료. 세부적으로 들어가자. 1. th추출, 2. td추출, 3. 종합하기
    

columnList = []
rowList = []


## for문으로 데이터 수집. 
for j in range(0, len(DataTable)):
    eachData = DataTable[j]
    eachMAD = eachData.find(name = "th", attrs = {"class":"nw"}) ## 0번째 열에 들어갈 월/일 데이터 수집.
    MonthAndDate = eachMAD.text
    columnList.append(MonthAndDate)
    tds = eachData.findAll(name = "td")
    
    for i in range(0, len(tds)): # 1,2,3번째 컬럼에 들어갈 td 컬럼이 중복되므로 따로 for문 사용해 데이터 수집.
        
        columnList.append(tds[i].text)
    
    
    rowList.append(columnList)    
    columnList = []

columnNameList = ["월/일", "요일", "휴일", "타입"]

resultTable = pd.DataFrame(rowList)

resultTable.columns = columnNameList
resultTable

NameError: name 'DataTable' is not defined