In [35]:
tvList2 = [ "UN40EN001", "LEDTV_UN40EN002", "LEDTV_LEDTV_UN40EN003", "ledtv_UN40EN004"]

# Step1: 리스트에 있는 데이터를 하나씩 확인하자
#        LEDTV_ 가 붙지 않은것, 붙어있는 것, 두개 붙은 것, 소문자로 붙은 것 각각 하나씩 존재

# Step2: preFix, preFixLow 변수 설정

tvList2Len = len(tvList2)
preFix = "LEDTV_"
preFixLow = preFix.lower()

# Step3: 반복문 설정
for i in range(0, tvList2Len, 1):
 # preFixLow 치환 후 preFix 추가
    if tvList2[i].count(preFixLow) >= 1:
        tvList2[i] = tvList2[i].replace(preFixLow,"")
        tvList2[i] = preFix + tvList2[i]
            
 # preFix = 1 일때 pass          
    elif tvList2[i].count(preFix) == 1:
        pass
 # preFix가 2개 이상일 때       
    elif tvList2[i].count(preFix) >= 2:
        tvList2[i] = tvList2[i].replace(preFix,"")
        tvList2[i] = preFix + tvList2[i]
 # preFix가 없을 때               
    else: tvList2[i] = preFix + tvList2[i]  
    
print(tvList2)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [11]:



 # 2개 이상일때
    

  
    
    print(tvList2)

IndentationError: expected an indented block (<ipython-input-11-d567e2721324>, line 17)

In [4]:
# 소문자일때

tvList2[3] = tvList2[3].replace(preFixLow,"")
tvList2[3] = preFix + tvList2[3]
print(tvList2[3])

LEDTV_UN40EN004

In [55]:

import pandas as pd
data = {'brands': ['NIKE','ADIDAS','VANS','CONVERSE'],
           'price(KRW)': [400000, 350000, 69000, 80000],
           'size': [260, 255, 265, 260],
           'material': ['lether', 'pigment', 'cotton', 'cotton']}
jingyuShoes = pd.DataFrame(data)
print(dataFrame)

     brands   price  size material
0      NIKE  400000   260   lether
1    ADIDAS  350000   255  pigment
2      VANS   69000   265   cotton
3  CONVERSE   80000   260   cotton

In [64]:
# 가지고 있는 신발에 대한 데이터
import pandas as pd
data = {'brands': ['NIKE','ADIDAS','VANS','CONVERSE'],
           'price(KRW)': [400000, 350000, 69000, 80000],
           'size(UK)': [260, 255, 265, 260],
           'material': ['lether', 'pigment', 'cotton', 'cotton'],
           'count' : [7, 1, 1, 9]}
dataFrame = pd.DataFrame(data)
print(dataFrame)

     brands  price(KRW)  size(UK) material  count
0      NIKE      400000       260   lether      7
1    ADIDAS      350000       255  pigment      1
2      VANS       69000       265   cotton      1
3  CONVERSE       80000       260   cotton      9

In [65]:
dic = {"brands":"nike","price(KRW)":400000,"size(UK)":260,"material":"lether","count":7}
print(dic)

{'brands': 'nike', 'price(KRW)': 400000, 'size(UK)': 260, 'material': 'lether', 'count': 7}

In [71]:
import pandas as pd

brands = ['NKIE', 'ADIDAS', 'VANS', 'CONVERSE']
price(KRW) = ['400000', '350000', '69000', '80000']
size(UK) = ['260', '255', '265', '260']
material = ['lether', 'pigment', 'cotton', 'cotton']
count = ['7', '1', '1', '9']

brands_df = pd.DataFrame(brands, columns=['mybrands'])
price(KRW)_df = pd.DataFrame(price(KRW), columns=['shoesprice(KRW)'])
size(UK)_df = pd.DataFrame(size(UK), columns=['mysize(UK)'])
material_df = pd.DataFrame(material, columns=['shoesmaterial'])    
count_df = pd.DataFrame(count, columns=['shoescount'])

final = pd.concat([brands_df,price(KRW)_df,size(UK)_df,material_df,count_df], axis = 1)
final

SyntaxError: invalid syntax (<ipython-input-71-dc4d416ceed4>, line 10)

In [83]:

# concat 활용하기.

import pandas as pd

brands = ['NKIE', 'ADIDAS', 'VANS', 'CONVERSE']
price = ['400000', '350000', '69000', '80000']
size = ['260', '255', '265', '260']
material = ['lether', 'pigment', 'cotton', 'cotton']
count = ['7', '1', '1', '9']


brands_df = pd.DataFrame(brands, columns=['mybrands'])
price_df = pd.DataFrame(price, columns=['shoesprice'])
size_df = pd.DataFrame(size, columns=['mysize'])
material_df = pd.DataFrame(material, columns=['shoesmaterial'])    
count_df = pd.DataFrame(count, columns=['shoescount'])

final = pd.concat([brands_df,price_df,size_df,material_df,count_df], axis = 1)
final

   mybrands shoesprice mysize shoesmaterial shoescount
0      NKIE     400000    260        lether          7
1    ADIDAS     350000    255       pigment          1
2      VANS      69000    265        cotton          1
3  CONVERSE      80000    260        cotton          9