##### 파이썬을 통해 서로 다른 종류의 데이터를 투합해서 새로운 가치를 창출한다

### 1. 라이브러리 선언

In [10]:
import pandas as pd
import numpy as np

### 2. 데이터 불러오기

In [65]:
csData = pd.read_csv("../dataset/customerdata.csv", encoding="ms949")

In [66]:
## 테이블정의서... 포맷 구글링
## 쿼리로 테이블 정의서를 한번에 만들수도 있다.

In [19]:
csData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [20]:
csData.to_markdown ## markdown - 오와 열을 맞춰주는 형태(잘 안씀)

<bound method DataFrame.to_markdown of      CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]>

In [23]:
csData.head(2) ## 위에서부터 두 줄을 보겠다.

   CUSTID    AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.90000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.44195    2            4    2.682023      Sleeping-dog

# 리스트에서 데이터프레임 생성

In [29]:
## 리스트를 그대로 데이터프레임에 넣으면 하나의 행이 된다.
## 리스트에 리스트를 넣으면 컬럼으로 바뀐다.

In [39]:
productList = \
    ["aProduct", "bProduct", "cProduct", "dProduct"]

In [40]:
priceList = [1000, 2000, 3000, 4000]

In [41]:
zipList = zip(productList, priceList)

In [42]:
productInfoDf = \
    pd.DataFrame( zipList, columns=["productname","price"])

In [43]:
productInfoDf

  productname  price
0    aProduct   1000
1    bProduct   2000
2    cProduct   3000
3    dProduct   4000

In [45]:
pd.DataFrame(productInfoDf.dtypes)

                  0
productname  object
price         int64

In [46]:
### 행 조회 방법.

In [71]:
csData = pd.read_csv("../dataset/customerdata.csv", encoding="ms949")

In [75]:
csDataEmi3 = csData.loc[ csData.EMI >= 3 ]

In [77]:
csDataEmi3 = csData.loc[ csData.EMI.astype(str) >= "3" ]

In [78]:
csData.shape

(150, 6)

In [79]:
csDataEmi3.shape

(19, 6)

#### 모든 데이터의 타입을 문자열로 바꾸고 나서 진행하기도 한다.

In [82]:
csData.loc[ 0 : 4] ## 0부터 4 까지 다나온다.

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [85]:
csData2 = csData.loc[ (csData.EMI >= 3) &     ## 여러 조건을 따질 경우, 괄호 필수.
                      (csData.AVGPRICE > 3500)]

In [86]:
csData2

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
33   G16437  3787.328898    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [98]:
csData.loc[ csData.CUSTID == "a13566".upper()]

   CUSTID  AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.9    3            6    1.679181  Big-Screen-lover

In [97]:
"a13566".upper()

'A13566'

#### 문자열 연산을 하고 싶다.데이터프레임.str. 사용!

In [121]:
uiInputId = "a13566"

In [105]:
csData.loc [ csData.CUSTID.str.upper() == uiInputId.upper() ]

   CUSTID  AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.9    3            6    1.679181  Big-Screen-lover

## 속성 변환

In [106]:
customerData = csData

#### str으로 변환한 EMI컬럼을 다시 대입.

In [111]:
customerData.EMI = customerData.EMI.astype(str)

In [112]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI             object
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [113]:
customerData["EMI"] = customerData["EMI"].astype(int)

In [114]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int32
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

#### 존재하는 컬럼은 .컬럼명 가능. 존재하지 않는 컬럼인 경우 "컬럼명" 으로 추가된다.

In [ ]:
customerData["EMI2"] = customerData["EMI"].astype(float)

#### 전체 컬럼 타입 변경 - 딕셔너리 사용

In [122]:
csDataTypeStr = customerData.astype( { "CUSTID":str, 
                                   "AVGPRICE":str,
                                    "EMI":str,
                                    "DEVICECOUNT":str,
                                    "PRODUCTAGE":str,
                                    "CUSTTYPE":str,
                                    "EMI2":str})

In [123]:
csDataTypeStr.dtypes

CUSTID         object
AVGPRICE       object
EMI            object
DEVICECOUNT    object
PRODUCTAGE     object
CUSTTYPE       object
EMI2           object
dtype: object

In [135]:
emiCondition = "3"
priceCondition = "3500"

In [146]:
csData2 = csData.loc[(csData.EMI.astype(str) >= str( emiCondition)) &
                     (csData.AVGPRICE.astype(str) > str(priceCondition))]

In [147]:
csData2.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int32
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
EMI2           float64
dtype: object

In [152]:
testDf = ["A"]

In [168]:
angryCustomer = \
        pd.DataFrame(list(csData.CUSTID[0:3]),
            columns = ["CSID"])

In [169]:
angryList = list(angryCustomer.CSID)

In [170]:
csData.loc[ csData.CUSTID.isin(angryList)].shape

(3, 7)

In [171]:
csData.loc[ ~ csData.CUSTID.isin(angryList)].shape

(147, 7)

### 정렬해보기

In [182]:
sortKey = ["AVGPRICE"]

In [183]:
csData.sort_values(sortKey)

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
68   N14862  2390.083736    1            6    1.000000        Early-bird   1.0
131  W13995  2411.008838    2            6    1.000000        Early-bird   2.0
125  V16704  2605.631083    2            6    0.900000        Early-bird   2.0
58   K16632  2650.900000    2            4    2.233033  Big-Screen-lover   2.0
30   G11453  2744.815881    2            6    0.900000        Early-bird   2.0
..      ...          ...  ...          ...         ...               ...   ...
25   F12979  4165.700000    2            6    2.128362  Big-Screen-lover   2.0
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover   3.0
16   D17241  4166.533130    2            4    2.577757      Sleeping-dog   2.0
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
130  W13404  4296.873743    3            6    1.100000        Early-bird   3.0

[150 rows x 7 columns]