#자료형 = 변수의유형

#변수는 값을 저장하는 저장소

#변수는 숫자가 처음으로 올 수 없다. 단어는 붙여쓰거나, _로 구분한다.

#Mod 연산(나머지연산) 은 패턴을 만드는데 유용하다.

In [23]:
import datetime as dt
#현재 날짜정보 불러오기
currentDate = dt.datetime.now()

In [31]:
#현재 시간 및 분 정보 저장
currentMin = currentDate.minute
currentHour = currentDate.hour

In [37]:
# 현재 시간 및 분 정보 합 계산 및 출력
sum_time = currentMin + currentHour
print(sum_time)

64

In [40]:
"현재시간은 : {} 현재 분은 : {}"\ 
.format(currentMin, currentHour)

'현재시간은 : 50 현재 분은 : 14'

In [44]:
firstLetter = """smart 'fintech' "aa" lecture"""
secondLetter = "fintech"
firstLetter

'smart \'fintech\' "aa" lecture'

In [41]:
firstLetter + secondLetter

NameError: name 'firstLetter' is not defined

In [46]:
inputVal1 = 1
inputVal2 = "1"
type(inputVal1)

int

In [50]:
type(inputVal2)

str

In [52]:
commentMulti = 20
startFlag = "START"
endFlag = "END"

In [55]:
print("*"*commenMulti+\startFlag+\"*"*commentMulti)

SyntaxError: unexpected character after line continuation character (<ipython-input-55-6180b4a43c00>, line 1)

In [51]:
print("*"*20+"star")

********************star

In [59]:
# 연, 주차 정보 길이 설정
YEARLEN = 4
WEEKLEN = 2

# 입력 데이터
inValue = "202103"

In [60]:
inValue[0:YEARLEN]

'2021'

In [62]:
yearInfo = inValue[:YEARLEN] #처음부터 끝까지 #첫번 인덱스는 포함, 마지막 인덱스는 포함하지 않는다.
print(yearInfo)

2021

In [63]:
yearweek = "201801"
yearweek[2:4]

'18'

In [61]:
weekInfo = inValue[YEARLEN:]

In [65]:
# 문자열 개수세기 (count)
yearweek= "2017W28w"
print(yearweek.count('W'))

1

#index 문자열 위치확인

In [66]:
inValue = "2017W28" #인덱스 W의 위치를 알려줘.
inValue.index("W")

4

In [67]:
letters = "LeD_tv"

In [68]:
letters.lower()

'led_tv'

In [ ]:
userInput = "haiteam" 
dbValue =  "HAITEAM"

In [87]:
userInput.upper() == dbValue()

NameError: name 'userInput' is not defined

In [ ]:
#만약 로그인정보가 데이트베이스에 있는 정보와 같다면 로그인 해라 틀리면 "로그인정보가 없다고 출력"

In [76]:
repLetters = "2017W28"
print(repLetters.replace("W","_"))

2017_28

In [78]:
"2018W01".split("W")

['2018', '01']

In [79]:
orgValue = "1234"

In [80]:
newValue = int(orgValue)

In [81]:
type(orgValue)

str

In [82]:
type(newValue)

int

In [83]:
orgValu = "23"

In [84]:
float(orgValue)

1234.0

In [123]:
## productDb 문자열 입력
productDb = "Sec 2018W28 250"

## 데이터 단순화를 위한 "W" 삭제
productDb = productDb.replace("W","")
print(productDb)

## 가독성 향상을 위한 대문자 변환
newProductDb = productDb.upper()
print(newProductDb)

## index를 통한 데이터 추출
stock_name = newProductDb[0:3] # 상품명
date = newProductDb[4:11] # 판매날짜
value = newProductDb[-3:] # 상품가치

## 결과값 출력
print("상품명 = " + stock_name)
print("판매일 = " + date)
print("상품가치 = " + value)

상품명 = SEC
판매일 = 201828
상품가치 = 250

In [135]:

## 가독성 향상을 위한 대문자 변환
newProductDb = productDb.upper()
print(newProductDb)

## index를 통한 데이터 추출
stock_name = newProductDb[0:3] # 상품명
date = newProductDb[4:11] # 판매날짜
value = newProductDb[-3:] # 상품가치

## 결과값 출력
print("상품명 = " + stock_name)
print("판매일 = " + date)
print("상품가치 = " + value)

Sec 201828 250
SEC 201828 250
상품명 = SEC
판매일 = 201828
상품가치 = 250

In [ ]:

## 가독성 향상을 위한 대문자 변환
newProductDb = productDb.upper()
print(newProductDb)

## index를 통한 데이터 추출
stock_name = newProductDb[0:3] # 상품명
date = newProductDb[4:11] # 판매날짜
value = newProductDb[-3:] # 상품가치

## 결과값 출력
print("상품명 = " + stock_name)
print("판매일 = " + date)
print("상품가치 = " + value)

In [137]:
## productDb 문자열 입력
productDb = "Sec 2018W28 250"

## 데이터 단순화를 위한 "W" 삭제
productDb = productDb.replace("W","")


## 가독성 향상을 위한 대문자 변환
newProductDb = productDb.upper()


## index를 통한 데이터 추출
stock_name = newProductDb[0:3] # 상품명
date = newProductDb[4:11] # 판매날짜
value = newProductDb[-3:] # 상품가치

## 결과값 출력
print("상품명 = " + stock_name)
print("판매일 = " + date)
print("상품가치 = " + value)

상품명 = SEC
판매일 = 201828
상품가치 = 250

In [170]:
## productDb 문자열 입력     stockname오류가 나거나 글자갯수가 다를때는 어떻게 해야하지? ##데이터분석가는 데이터가 어떻게 들어오는지 알아야 한다. 물어보기.
productDb = "Sec 2018W28 250"

## 데이터 단순화를 위한 "W" 삭제
newproductDb = productDb.split("W")
newProductDb[1] = productDb.split(" ")
print(newProductDb)

TypeError: 'str' object does not support item assignment

In [169]:
## productDb 문자열 입력
productDb = "Sec 2018W28 250"

## 데이터 단순화를 위한 ""W"" 삭제
productDb = productDb.replace("W","")


## 가독성 향상을 위한 대문자 변환
newProductDb = productDb.upper()


## index를 통한 데이터 추출
stock_name = newProductDb[0:3] # 상품명
date = newProductDb[4:11] # 판매날짜
value = newProductDb[-3:] # 상품가치

## 결과값 출력
print("상품명 = " + stock_name)
print("판매일 = " + date)
print("상품가치 = " + value)

상품명 = SEC
판매일 = 201828
상품가치 = 250

In [171]:
# 샘플데이터                                                  #무슨 데이터인지 정보 파악이 중요하고, 초기값이 바뀌었을 때 원하는 결과값이 나오는지 확인.
targetValue = "Sec 2018W28 250" #삼성전자, 거래일, 거래량

#대문자 변환
targetValue = targetValue.upper()

#데이트 컬럼 내 삭제 문자열 및 구분자를 선언한다.
delChar = "W"
delimeter = " "

#stockNmae, date, value 값을 추출한다
delimeterIndex - targetValue.index(delimeter)
stockName - targetValue[:delimterIndex]
liftedValue = targetValue[delimterIndex+1:]
delimterIndex = leftedValue.index(delimeter)


date = leftedValue[:delimeterIndex]

In [ ]:
#구분자 정의

In [172]:
delimeter = " "

In [173]:
delimeterIndex = targetValue.index(delimeter)
delimeterIndex

3

In [177]:
stockName = targetValue[:delimeterIndex]
stockName

'Sec'

In [179]:
leftedValue = targetValue[delimeterIndex:].lstrip() #targetValue[delimeterIndex+1:]

'2018W28 250'

In [180]:
leftedValue.index(delimter)

NameError: name 'leftedValue' is not defined

In [ ]:
# 샘플데이터

##리스트 
#특정 집합 모음을 표현

In [181]:
emptyList = [10, 20, 30]

In [182]:
priceList = [100,150,300,1000]

In [184]:
priceList[0]

100

In [189]:
stockList = [ ["sec","201801",100],
             ["posco","201801",200]]

In [190]:
stockList[1][0]

'posco'

In [191]:
len(priceList)

4

In [192]:
sum(priceList)

1550

In [193]:
min(priceList)

100

In [194]:
max(priceList)

1000

In [201]:
initList = [100,200,300,400]

In [202]:
#인덱스 활용
initList[0:3]
# 리스트는 집합이기떄문에 집합연산이 필수. #sum, len, min, max
sum(initList)
#리스트는 수정가능하다.
initlist[2] = 1000000
initList

NameError: name 'initlist' is not defined

In [203]:
initList.remove(400)

In [204]:
initList

[100, 200, 300]

In [205]:
initList.append(30)

In [206]:
initList

[100, 200, 300, 30]

In [207]:
initList.appned(30)

AttributeError: 'list' object has no attribute 'appned'

In [208]:
initList.count(2500000)

0

In [209]:
initList.count(5500)

0

In [ ]:
csData = pd.read_csv("../dataset/kopo_customerdata.csv")

In [4]:
import pandas as pd

In [5]:
csData = pd.read_csv("../dataset/kopo_customerdata.csv")

In [6]:
csData

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

In [ ]:
customerTotalList = csData["TOTAL_AMOUNT"].tolist()

In [8]:
customerTotalList = csData["TOTAL_AMOUNT"].tolist()

In [11]:
customerTotalList

[30300,
 46500,
 22700,
 31400,
 44900,
 38300,
 19900,
 14800,
 24400,
 30400,
 30300,
 34300,
 14900,
 16300,
 25000,
 27500,
 18200,
 40200,
 74600,
 42700,
 14900,
 58700,
 16000,
 17800,
 26800,
 14000,
 31800,
 16000,
 37600,
 32800,
 176600,
 16200,
 102000,
 56800,
 14700,
 14800,
 2500,
 23600,
 38100,
 82300,
 62900,
 5000,
 16100,
 40900,
 14600,
 28600,
 12300,
 37800,
 32600,
 16100,
 18400,
 17700,
 9400,
 37400,
 8800,
 26600,
 20900,
 15800,
 14800,
 20500,
 19700,
 39900,
 122900,
 33000,
 12100,
 14700,
 48400,
 51900,
 17400,
 26500,
 12800,
 15500,
 21400,
 15300,
 36000,
 49000,
 35800,
 16900,
 43000,
 28200,
 45100,
 18200,
 20600,
 23900,
 14500,
 70000,
 15800,
 6600,
 40500,
 17000,
 43800,
 146800,
 86900,
 19200,
 17100,
 18800,
 24700,
 17500,
 25100,
 19000,
 18800,
 55700,
 31500,
 27800,
 16000,
 14100,
 17100,
 20600,
 19100,
 14500,
 29400,
 17700,
 54400,
 13100,
 33700,
 17600,
 29000,
 41300,
 27700,
 25900,
 21900,
 41100,
 15000,
 67100,
 29600,
 13900,
 21700,
 15200,
 13100,
 25600,
 12500,
 18600,
 30700,
 23000,
 41400,
 29400,
 40400,
 50600,
 34700,
 12800,
 26300,
 14900,
 14500,
 14100,
 72100,
 15600,
 31700,
 14500,
 15700,
 15800,
 33200,
 23300,
 15300,
 17000,
 16300,
 16800,
 73900,
 23400,
 15800,
 15700,
 21000,
 101500,
 35800,
 55600,
 33900,
 23600,
 15900,
 38100,
 13800,
 13500,
 42600,
 42900,
 18400,
 18900,
 12900,
 12800,
 20900,
 31200,
 36300,
 15800,
 14100,
 43400,
 29500,
 19000,
 22700,
 36000,
 62800,
 50400,
 61000,
 32200,
 78400,
 8100,
 19400,
 3000,
 17600,
 17300,
 16400,
 37700,
 17200,
 16400,
 19200,
 15300,
 14000,
 33700,
 13500,
 27500,
 48000,
 68500,
 16600,
 20400,
 7000,
 17700,
 12600,
 14400,
 40600,
 34500,
 72300,
 38800,
 45000,
 24000,
 28400,
 25700,
 39000,
 21700,
 5700,
 40800,
 22500,
 29000,
 120100,
 50900,
 29500,
 142800,
 15600,
 22400,
 18800,
 31600,
 15500,
 14800,
 19300,
 62100,
 16100,
 18800,
 14100,
 18300,
 17600,
 15700,
 16200,
 41500,
 18300,
 15900,
 54200,
 24600,
 21400,
 16200,
 15900,
 50400,
 14200,
 18200,
 20200,
 38600,
 12000,
 36000,
 16100,
 13400,
 16800,
 22500,
 15200,
 17600,
 12700,
 15400,
 21500,
 28300,
 16300,
 13300,
 19500,
 66600,
 17100,
 34600,
 5700,
 35400,
 33200,
 17900,
 27400,
 29200,
 85500,
 16300,
 19800,
 44600,
 41400,
 15600,
 16400,
 24100,
 17100,
 15500,
 18000,
 35100,
 19000,
 43400,
 52700,
 59900,
 15200,
 21600,
 17000,
 11500,
 17500,
 27800,
 114400,
 38700,
 22100,
 29600,
 16800,
 27400,
 16400,
 36300,
 16600,
 22500,
 19000,
 62500,
 27800,
 45000,
 28100,
 32700,
 33600,
 22100,
 30000,
 14600,
 14900,
 15300,
 2800,
 19700,
 21200,
 55700,
 92500,
 13800,
 31400,
 17300,
 20300,
 21800,
 29400,
 59500,
 16800,
 15300,
 14100,
 53700,
 69200,
 27800,
 33600,
 36300,
 31400,
 2700,
 19400,
 13600,
 93100,
 11700,
 21300,
 18200,
 2700,
 14600,
 14400,
 16100,
 23700,
 49300,
 15200,
 27100,
 23800,
 16200,
 17000,
 55700,
 20600,
 41400,
 17200,
 37200,
 42200,
 55400,
 11900,
 14300,
 27700,
 31200,
 16100,
 12300,
 25400,
 41800,
 26200,
 40300,
 20200,
 33700,
 35500,
 41600,
 18200,
 34200,
 16100,
 18500,
 16300,
 24200,
 29400,
 32000,
 19800,
 57900,
 29100,
 39900,
 15300,
 15000,
 14600,
 32500,
 29200,
 16500,
 18100,
 13200,
 23100,
 29800,
 35500,
 23700,
 16100,
 27600,
 22300,
 35300,
 16400,
 36100,
 14300,
 15400,
 59400,
 20600,
 15100,
 30900,
 13600,
 119500,
 21500,
 36800,
 30600,
 22900,
 13200,
 64900,
 14300,
 18000,
 16900,
 19300,
 25500,
 14600,
 17800,
 12500,
 13900,
 15800,
 19200,
 17500,
 19900,
 14700,
 15100,
 24400,
 27200,
 42700,
 14500,
 14700,
 30200,
 29500,
 32600,
 16000,
 15900,
 18000,
 18300,
 14500,
 29700,
 180300,
 24400,
 13000,
 17200,
 40200,
 13400,
 24600,
 17400,
 2700,
 17900,
 19900,
 11700,
 29200,
 13500,
 12300,
 30500,
 7200,
 14400,
 26300,
 33800,
 22100,
 17000,
 35300,
 14700,
 17900,
 16700,
 18600,
 37200,
 35300,
 23100,
 18600,
 17000,
 23100,
 33500,
 35400,
 49800,
 15700,
 14100,
 101000,
 26200,
 15700,
 87700,
 2500,
 33000,
 16900,
 18200,
 23500,
 17800,
 14800,
 34100,
 42500,
 13300,
 14400,
 36100,
 21700,
 25600,
 33000,
 36500,
 12300,
 74500,
 13000,
 19800,
 36400,
 24400,
 15400,
 81900,
 20800,
 31600,
 22700,
 46700,
 20100,
 30900,
 36900,
 39400,
 16200,
 46200,
 35700,
 65000,
 28700,
 18600,
 16200,
 17000,
 40700,
 42000,
 67000,
 14000,
 15000,
 35400,
 15000,
 14700,
 12700,
 29100,
 19500,
 14700,
 31800,
 50600,
 22300,
 18300,
 15400,
 15200,
 67600,
 50300,
 19600,
 136400,
 32600,
 2500,
 38500,
 17300,
 37200,
 19900,
 28700,
 14500,
 38900,
 22700,
 21300,
 2600,
 145500,
 34800,
 55300,
 24400,
 12200,
 15800,
 28600,
 14900,
 23800,
 14000,
 47200,
 30900,
 33700,
 14500,
 43400,
 22900,
 21800,
 29800,
 34800,
 31600,
 16700,
 38500,
 71400,
 24400,
 14200,
 21900,
 38000,
 17300,
 21500,
 18000,
 28000,
 67100,
 17800,
 18000,
 16300,
 81200,
 22300,
 15700,
 40800,
 29500,
 32800,
 14900,
 18300,
 14400,
 21900,
 93300,
 44300,
 19700,
 53000,
 39100,
 19800,
 13600,
 27200,
 2400,
 35600,
 62700,
 15900,
 30400,
 28600,
 14400,
 18300,
 2000,
 13500,
 20700,
 20400,
 15900,
 16500,
 32900,
 55300,
 26400,
 16400,
 17000,
 56600,
 63300,
 19400,
 17900,
 19300,
 22100,
 27500,
 16000,
 14200,
 39800,
 22200,
 16300,
 16200,
 34900,
 18000,
 17900,
 13700,
 26000,
 56100,
 16100,
 36000,
 41000,
 26100,
 444500,
 13500,
 23500,
 14000,
 14400,
 48700,
 15300,
 18200,
 2700,
 17200,
 26100,
 13900,
 23900,
 17300,
 20800,
 19900,
 14500,
 46000,
 10600,
 107600,
 43500,
 14000,
 6000,
 17200,
 55500,
 22900,
 25300,
 2800,
 57400,
 43200,
 34300,
 19800,
 21000,
 41000,
 55800,
 28200,
 11900,
 15000,
 18800,
 21500,
 19300,
 19600,
 53900,
 25600,
 15000,
 14400,
 74700,
 29400,
 15400,
 35100,
 24000,
 25700,
 53000,
 12800,
 16400,
 14400,
 22400,
 13100,
 35200,
 45700,
 14400,
 45500,
 46400,
 37800,
 27600,
 25000,
 44100,
 47400,
 41500,
 51700,
 25600,
 15700,
 45400,
 75400,
 57000,
 35700,
 89100,
 405200,
 32400,
 13700,
 57700,
 16900,
 72400,
 61300,
 8600,
 34700,
 24900,
 155500,
 54400,
 245700,
 42200,
 60300,
 206000,
 124000,
 507900,
 17500,
 26800,
 32300,
 25400,
 160100,
 65300,
 15800,
 106800,
 15800,
 87000,
 173400,
 26400,
 132900,
 155800,
 29500,
 22400,
 24500,
 58500,
 14300,
 15200,
 101200,
 40300,
 41600,
 146900,
 43700,
 182900,
 55500,
 39900,
 197100,
 66100,
 85600,
 36600,
 12200,
 50300,
 45800,
 36300,
 54700,
 52500,
 127100,
 28200,
 25700,
 129800,
 25500,
 94600,
 40500,
 65800,
 16100,
 36700,
 16200,
 128200,
 28000,
 32400,
 44400,
 72400,
 14300,
 31100,
 35500,
 32200,
 15900,
 37900,
 31100,
 35000,
 81800,
 155600,
 72800,
 40500,
 30300,
 44000,
 16800,
 43000,
 106100,
 80100,
 41600,
 68400,
 194600,
 36800,
 24200,
 35200,
 30900,
 24200,
 35200,
 35000,
 11300,
 20400,
 116000,
 101000,
 57900,
 16500,
 45000,
 55600,
 32000,
 30600,
 68000,
 84800,
 33700,
 68300,
 72700,
 39000,
 29100,
 155200,
 93500,
 17700,
 54100,
 13000,
 16000,
 25700,
 21500,
 22100,
 27300,
 13900,
 14100,
 140900,
 45800,
 8600,
 57000,
 16700,
 26100,
 33800,
 18500,
 14400,
 19700,
 13500,
 28200,
 68400,
 108500,
 15700,
 31500,
 43700,
 17000,
 28300,
 30800,
 38700,
 328300,
 236100,
 70900,
 87500,
 80100,
 12000,
 36000,
 79400,
 15400,
 84500,
 8500,
 14200,
 153500,
 41000,
 25200,
 84600,
 36000,
 95100,
 283500,
 31000,
 19600,
 89000,
 17000,
 41200,
 43200,
 139500,
 19500,
 122200,
 191100,
 27600,
 133900,
 82000,
 30000,
 30400,
 75300,
 15900,
 58900,
 24400,
 44800,
 37100,
 53900,
 25600,
 20600,
 63000,
 20200,
 163900,
 49700,
 44600,
 37600,
 13600,
 16000,
 61800,
 86500,
 32300,
 17700,
 35100,
 31800,
 137800,
 38400,
 40000,
 20400,
 33000,
 312000,
 121400,
 19700,
 33300,
 15300,
 104800,
 24400,
 21100,
 27900,
 61000,
 412600,
 38100,
 49800,
 42800,
 44200,
 40500,
 81100,
 58200,
 12100,
 40100,
 25600,
 272400,
 16500,
 19600,
 43800,
 63900,
 38500,
 5800,
 63400,
 13900,
 17200,
 14000,
 26600,
 177200,
 126000,
 55200,
 3400,
 29100,
 15500,
 ...]

In [12]:
## 정렬 먼저
customerTotalList.sort()

## 최솟값과 최댓값 

minValue = min(customerTotalList)
maxValue = max(customerTotalList)

print(minValue)
print(maxValue)

0
3103500

In [14]:
## 최솟값과 최댓값의 중복된 수 체크

## 정렬을 했으니, 따로 인덱스를 구할 필요는 없다.

minValueNum = customerTotalList.count(minValue)
maxValueNum = customerTotalList.count(maxValue)

print(minValueNum)
print(maxValueNum)

256
1

In [16]:
## 최솟값과 최댓값의 인덱스 값, 즉 그 개수로 최대,최솟값을 제외한 리스트 구하기

newList = customerTotalList[minValueNum:-maxValueNum]
newList


## 평균 구하기

average = sum(newList) / len(newList)
print(average)

35248.91490376756

In [60]:
ListA = [1, 2, 3]
ListB = [4, 5, 6]
ListC = [7, 8, 9]
AllList = [ListA, ListB, ListC]
# print를 했을 때 [1,4,7]   {2,5,8}  {3,6,9} 가 출력되게 해보자.

In [63]:
newList.append(ListA[0])
newList.append(ListB[0])
newList.append(ListC[0])

In [64]:
newList

[1, 4, 7]

In [109]:
newList = []

for i in range(0, len(ListA)):

    newList.append(ListA[i])
    newList.append(ListB[i])
    newList.append(ListC[i])
   
                   

  
    
print(newList[0:3])
print(newList[3:6])
print(newList[6:9])

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

[1, 4, 7, 2, 5, 8, 3, 6, 9]

In [91]:
for i in range (0, len(ListA)):

   
    eachList = ListA[i]    

    

    newList.append(eachList)

    print(newList)

[1]
[2]
[3]

In [93]:
print(newList)

[3]

In [23]:
# 1, 4 ,7 만 뽑을 수 있을까?
#A,B,C를 변수로 놓아야 겠다

In [5]:
# 2, 5, 8은 어떻게 해야 나올까?
# 뒷 글자를 1로 고정

ListA = [1, 2, 3]
ListB = [4, 5, 6]
ListC = [7, 8, 9]
ListAll = [ListA, ListB, ListC]

# eachList를 넣을 공간을 만들어야 겠다

temp = [0, 0, 0]
newList = [0, 0, 0]

for i in range(0, 3):
    for j in range(0, 3):
         temp[j] = ListAll[j][i]
    print(temp)
        
        

        
    

# temp값을 리스트로 만들 수 있을까?

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [77]:
eachList

1

In [16]:


temp = [0, 0, 0]
for i in range(0, len(ListA)):
    temp[i] = ListAll[i][0]

    
print(temp)

[1, 4, 7]

In [15]:
# 3, 6, 9는 어떻게 해야 나올까?

temp = [0, 0, 0]
for i in range(0, len(ListA)):
    temp[i] = ListAll[i][2]

    
print(temp)

[3, 6, 9]

In [53]:


# 1, 4 ,7 만 뽑을 수 있을까?
#A,B,C를 변수로 놓아야 겠다

temp = [0, 0, 0]
newList = [0, 0, 0]

In [54]:
# 2, 5, 8은 어떻게 해야 나올까?



# 1, 4 ,7 만 뽑을 수 있을까?
#A,B,C를 변수로 놓아야 겠다

for i in range(0, len(ListAll)):  
    temp[i] = ListAll[i][0]


print(temp)

[1, 4, 7]

In [74]:
# 2, 5, 8은 어떻게 해야 나올까?



# 1, 4 ,7 만 뽑을 수 있을까?
#A,B,C를 변수로 놓아야 겠다


for i in range(0, len(ListAll)):  
     temp[i] = ListAll[i][0]
    print(temp)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 11)

In [67]:
        newList[i] = temp

        
        
        
    
print(newList)